<div class="container">
  <div class="header">
    <h1> CURRENT PROJECTS</h1>
  </div>
  <div class="grid">
      <mat-grid-list cols="5" rowHeight="400px">
          <mat-grid-tile class="bali1" colspan = "5" matTooltip="BALI1 live site">
            <a href="https://tqxnp4ama3.execute-api.eu-central-1.amazonaws.com/production/" target="_blank" rel="noopener noreferrer">
            <div class="title">
                <h1 class="bali">BALi 1</h1>
                <h5>An angular web application used for vacationing in Bali Indonesia</h5>
            </div>
          </a>
          </mat-grid-tile>
      </mat-grid-list>
  </div>

  <div class="header">
      <h1> PROFESSIONAL PROJECTS</h1>
    </div>
  <div class="container-2">
    <div class="professional-ameri img" matTooltip="Ameriprise">
        <img class="ameri-img" src="https://bw2020asset.s3.amazonaws.com/ameriprise.png" alt="" srcset="">
    </div>
    <div class="professional-river img" matTooltip="RiverSource Insurance">
        <img class="river-img" src="https://bw2020asset.s3.amazonaws.com/riversource.png" alt="" srcset="">
    </div>
    <div class="professional-thomas img" matTooltip="Thomas Pink Boutique">
        <img class="pink-img" src="https://bw2020asset.s3.amazonaws.com/pink.png" alt="">
    </div>
    <div class="professional-dominion img" matTooltip="Dominion Energy">
      <img class="dom-img" src="https://bw2020asset.s3.amazonaws.com/dominionEnergy.png" alt="">
    </div>
  </div>
</div>
