<div class="container">
<div class="social-icons">
  <a href="http://www.facebook.com/brandon.wilmott" target="_blank"><img src="https://bw2020asset.s3.amazonaws.com/facebook.png" alt="" class="facebook" matTooltip="Facebook"></a>
  <a href="http://www.instagram.com/nihon_naygro" target="_blank"><img src="https://bw2020asset.s3.amazonaws.com/instagram.png" alt="" class="instagram" matTooltip="Instagram"></a>
  <a href="http://github.com/bwilm" target="_blank"><img src="https://bw2020asset.s3.amazonaws.com/github.png" alt="" class="github" matTooltip="GitHub/bwilm"></a>
  <a href="https://www.linkedin.com/in/bwilmott/" target="_blank"> <img src="https://bw2020asset.s3.amazonaws.com/linkedin.png" alt="" class="linkedIn" matTooltip="LinkedIn"></a>
  <a href="mailto:bwilmott.dev@gmail.com"> <img src="https://bw2020asset.s3.amazonaws.com/email.png" alt="" class="email" matTooltip="Email Me"></a>
</div>
</div>
